<div class="col-md-8">
  <p id="notice"><%= notice %></p>
  <br>
  <p>
    <strong>Name of the User:</strong><br>
    <%= @user.name %>
  </p>

  <p>
    <strong>Users Email:</strong><br>
    <%= @user.email %>
  </p>
  <br>
  <%= link_to 'Edit this User', edit_user_path(@user), class: 'btn btn-outline-warning' %> 
  <%= link_to 'Back to all Users', users_path, class: 'btn btn-outline-primary' %>
</div>