<div class="col-md-8">
  <p id="notice"><%= notice %></p>

  <br>
  <p>
    <strong>Post Content:</strong><br><br>
    <%= @post.content %>
  </p>
  
  <p>
    <strong>Posted by:</strong>
    <%= @post.user.name %>
  </p>
  <br>

  <%= link_to 'Edit this Post', edit_post_path(@post), class: 'btn btn-outline-warning' %>
  <%= link_to 'Back to all Posts', posts_path, class: 'btn btn-outline-primary' %>
</div>